<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] [%d{dd/MMM/yyyy:HH:mm:ss Z}] [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.srh.controller">
        <level value="debug" />
    </logger>

    <root level="warn" additivity="false">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>